.visitantes-box{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    margin:20px auto;
    padding:12px 18px;
    width:max-content;
    background:#151515;
    border:2px solid #38b000;
    border-radius:12px;
    color:#fff;
    font-size:15px;
    font-weight:bold;
    box-shadow:0 0 15px rgba(56,176,0,.3);
}

.visitantes-box strong{
    color:#38b000;
    font-size:18px;
}
.instagram-btn{
    display:flex;
    align-items:center;
    gap:14px;

    width:fit-content;
    margin:30px auto;
    padding:14px 22px;

    text-decoration:none;
    color:white;

    border-radius:18px;

    background:linear-gradient(45deg,#f58529,#feda77,#dd2a7b,#8134af,#515bd4);

    box-shadow:0 8px 25px rgba(221,42,123,.35);

    transition:.35s ease;
}

.btn-instagram{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:12px;

    width:260px;
    margin:20px auto;
    padding:14px 22px;

    border-radius:50px;

    text-decoration:none;
    color:#fff;
    font-weight:600;
    font-size:16px;

    background:linear-gradient(
        45deg,
        #405DE6,
        #5B51D8,
        #833AB4,
        #C13584,
        #E1306C,
        #FD1D1D,
        #F56040,
        #FCAF45
    );

    box-shadow:0 8px 25px rgba(193,53,132,.35);

    transition:.3s ease;
}

.btn-instagram:hover{
    transform:translateY(-4px) scale(1.04);
    box-shadow:0 15px 35px rgba(193,53,132,.55);
}

.btn-instagram:active{
    transform:scale(.97);
}

.btn-instagram svg{
    width:22px;
    height:22px;
    fill:white;
}

.btn-instagram span{
    font-size:16px;
}